.location-select-screen {
  background-image: url('../gumshoe-quest.png');
  background-position: left;
}

.location-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  border-style: solid;
  border-color: var(--menu-item-border-color);
  border-width: 5px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.location-item:active {
  background-color: lightgray;
  /* Optional: for non-touch devices */
}
