/* Default light theme */
:root {
  --background-color: #fff;
  --text-color: #333;
  --link-color: #0066cc;
  /* Add other variables as needed */
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fff;
    --link-color: #0099ff;
    /* Override other variables for dark mode */
  }
}

html {
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Ensure the body takes the full height */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

a {
  color: var(--primary-color);
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: var(--padding);
}
